:host{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: var(--color-overlay);
    font-size: var(--font-size-overall);
    
}
app-right-panel, app-left-panel{
    display: flex;
    margin: 0;
}